[user]
	name = Richard Littauer
	email = richard.littauer@gmail.com
[alias]
	ac = !git add -A && git commit --amend
	br = branch -rr
	c = commit
	ca = !git add -A && git commit -v
	co = checkout
	commend = commit --amend --no-edit
	credit = !sh -c 'git commit --amend --author \"$1\" -C HEAD' -
	dn = diff --stat --color
	down = pull origin HEAD
	f = !git feature -a feat
	fa = fetch --all
	fm = !git co master && git fetch upstream && git mum
	it = !git init && git commit -m “root” --allow-empty
	k = !git branch && git remote -vv && git status
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	mum = merge upstream/master
	open-pr = !git fetch --all && git pull-request
	please = push --force-with-lease
	rbm = rebase master
	rr = !git remote rename origin upstream && git remote rename RichardLitt origin && git remote -vv
	rv = remote -vv
	s = status
	st = status --short --branch
	staaash = stash --all
	staash = stash --include-untracked
	stsh = stash --keep-index
	unadd = reset HEAD
	up = push origin HEAD
	wc = !git diff --word-diff=porcelain HEAD | grep -e '^+[^+]' | wc -w
	yolo = !git add -A && git commit --amend --no-edit && git push -f origin HEAD
[github]
	user = RichardLitt
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/richard/.gitignore_global

	## This fixes the issue with vi errors removing text on quit
	editor = /usr/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[ghi]
[ghi]
	token = !security find-internet-password -a RichardLitt -s github.com -l 'ghi token' -w
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
